<%if @errors%>
	<%@errors.each do |error|%>
		<h3 class="error"><%=error%></h3>
	<%end%>
<%end%>

<form name="login" action="/login" method="post">
	<label for="username">Username: </label>
	<input type="text" name="username" placeholder="Username">
	<label for="password">Password: </label>
	<input type="password" name="password" placeholder="Password">
	<input class="" type="submit" value="Login">
</form>
