<div class="topics">
	<ul>
		<li><p><a href="/posts/economics_posts">Economics</a></p></li>
		<li><p><a href="/posts/environment_posts">Environment</a></p></li>
		<li><p><a href="/posts/politics_posts">Politics</a></p></li>
		<li><p><a href="/posts/social_values_posts">Social Values</a></p></li>
		<li><p><a href="/posts/education_posts">Education</a></p></li>
		<li><p><a href="/posts/religion_posts">Religion</a></p></li>
		<li><p><a href="/posts/health_posts">Health</a></p></li>
		<li><p><a href="/posts/foreign_policy_posts">Foreign Policy</a></p></li>
		<li><p><a href="/posts/military_posts">Military</a></p></li>
		<li><p><a href="/posts/science_technology_posts">Science & Technology</a></p></li>
	</ul>
</div>
<div class="rules">
	<h2>Rules of Peanut Gallery</h2>
	<p>Peanut Gallery seeks to continue the public policy debate as so exemplified in the Becker/Posner blog, started in 2004, and the Buckley/Vidal debates from 1968, supporting well-informed courteous discourse, as is so rarely found in this day and age.</p>

	<p><em>Big ideas, lots of citations, clear concise prose.</em></p>
	
	<p>As a reader of Peanut Gallery, you can explore posts listed under the given topics.  Each post will consist of an original overview of a given issue, well cited and written according to the author's own beliefs and opinions.  Each post will also include approved responses to the overview, which may challenge or elucidate particular points within the original post.</p>

	<p>As a writer for Peanut Gallery, you may create a profile, listing your own credentials and background (there are no requirements to become a Peanut Gallery writer, although we do expect correct grammar and thorough citations for every piece of prose). You may then post original overview pieces for issues you care about, given that all facts are cited.  You may also respond to available posts from other authors.  Every Peanut Gallery author has authority to approve the responses to their own pieces. However, in the spirit of the site, we encourage authors to approve responses that challenge their own positions (and perhaps to update their original composition to reflect any change in views, or acknowledgement of additional complexity).  Once you have a minimum of one approved response, you may publish your post for unregistered readers to view.<p>

	<p>Improper or incomplete citations, discourteous language and/or discriminatory attacks on other writers may cause writing privileges to be revoked.  Site administrators reserve the final judgement on any suspect writing or behavior, and may issue warnings, or take disciplinary action at will.</p>
</div>	